html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background-color: #3c3c3c;
  color: #d6d6d6
}

div {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-weight: 400;
}

input {
  padding: 20px;
  font-size: 20px;
  background-color: transparent;
  color: #3c3c3c;
  border: 2px solid #d6d6d6;
  border-radius: 4px;
}

input::placeholder {
  color: #d6d6d6;
  opacity: 0.4;
}

input:focus {
  border: 2px solid #d6d6d6;
  background-color: #d6d6d6;
}

button {
  padding: 20px;
  font-size: 20px;
  background-color: transparent;
  color: #d6d6d6;
  border: 2px solid #d6d6d6;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #d6d6d6;
  color: #3c3c3c;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-weight: 400;
}
