@import "tailwindcss";

@theme {
    --color-black: #14140F;
    --color-white: #FFFFFF;
    --color-orange: #F26800;
}

.app-container {
    @apply bg-black text-white h-screen w-screen font-['Inter'];
}

.today-info {
    @apply flex flex-col justify-center items-center w-screen pt-10 pb-16;
}

.today-day {
    @apply text-white text-[64px] font-bold h-18;
}

.today-date-time {
    @apply text-orange text-[28px];
}

.add-task {
    @apply flex flex-col md:flex-row justify-center items-center w-screen gap-4 px-6 md:px-0;
}

.task-list {
    @apply mt-16 mx-6 md:mx-auto rounded-md w-full md:w-1/3 text-[18px] font-light;
}

.task-list-ordered {
    @apply flex flex-col text-orange gap-y-0.5 max-h-[52vh] overflow-y-auto;
}

.task-list-ordered::-webkit-scrollbar {
  width: 4px;
}

.task-list-ordered::-webkit-scrollbar-track {
  background: transparent;
}

.task-list-ordered::-webkit-scrollbar-thumb {
  background-color: var(--color-orange);
  border-radius: 999px;
}

.task-list-item {
    @apply py-4 px-6 flex flex-row gap-5 justify-evenly;
}

.task-list-feature {
    @apply flex flex-row justify-center items-center w-full gap-4 mb-6;
}

.mark-all-complete {
    @apply w-full md:w-auto border-2 border-orange border-solid py-4 px-6 text-[18px] text-orange cursor-pointer rounded-md hover:text-black hover:bg-orange transition duration-300;
}

.delete-all {
    @apply w-full md:w-auto border-2 border-orange border-solid py-4 px-6 text-[18px] text-orange cursor-pointer rounded-md hover:text-black hover:bg-orange transition duration-300;
}

/* .sort-tasks {
  @apply w-full md:w-auto border-2 border-orange border-solid py-4 px-6 text-[18px] text-orange cursor-pointer rounded-md bg-black transition duration-300 hover:text-black hover:bg-orange appearance-none;
} */

.sort-tasks {
  @apply w-full md:w-auto border-2 border-orange border-solid py-4 px-6 text-[18px] 
         text-orange cursor-pointer rounded-md bg-black transition duration-300
         hover:text-black hover:bg-orange focus:outline-none focus:ring-orange appearance-none;
}

.task-list-item-title {
    @apply text-orange text-[22px] w-full;
}

.task-list-item-title-input {
    @apply bg-transparent border-b-2 border-orange text-orange text-[22px] w-full focus:outline-none;
}

.task-list-item-checkbox {
    @apply cursor-pointer text-[26px];
}

.task-list-item-delete {
    @apply cursor-pointer text-[22px];
}